.searchMenu {
  border-color: transparent;
  box-shadow: none;
  color: #818896;
  background: #3a3f48;
  height: 35px;
  border-radius: 10px;
  width: 60rem;
}

.inputGroupText {
  margin-left: 10px;
}

.nav {
  position: absolute;
  margin-left: 18rem;
  margin-top: 1rem;
}